<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Parent School Activities</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="C:\Users\PRAISE\OneDrive\Desktop\New folder\Week 6\coursework.css" rel="stylesheet" type="text/css">

    <script src="item.js"></script>
</head>

<body>
    <div id="app" style="background:whitesmoke; width: 100%; height: 200%; margin-bottom:10px;">
        <header>
            <h2 v-text="sitename"></h2>
            <button v-if="canShowCheckout" @click="showCheckout">
                {{ cartItemCount }}
                <a style="float: right; margin-left: 10mm; background-color: rgb(100, 110, 151);" href="8"
                    class="btn btn=primary" v-on:on></a><span class="fa fa-book"></span> Shopping Cart
            </button>
        </header>
        <main>
            <div v-if="showProduct">
                <div v-for="product in filteredItems">
                    <figure>
                        <img v-bind:src="product.image"
                            style="float:initial; background: rgb(143, 168, 188); align-items: left; margin-left: 5s0mm; justify-content: center; width: 400px; height: 250px; margin: 2em 0; border: 3px solid black; border-radius: 50px; padding: .5em; display: block; ">

                    </figure>


                    <h2
                        style="text-align: right; box-sizing: border-box; background-color: rgb(100, 110, 150); margin-left: 30mm; margin-top: 0mm; padding: .5em; width: 15%; border-radius: 50px; border: 5px solid black; text-align: center;">
                        Subject: {{product.subject}}</h2>
                    <h3
                        style="text-align: right; box-sizing: border-box; background-color: rgb(100, 110, 150); margin-left: 30mm; margin-top: 0mm; padding: .5em; width: 15%; border-radius: 50px; border: 5px solid black; text-align: center;">
                        Location: {{product.location}}</h3>


                    <h4
                        style="text-align: right; box-sizing: border-box; background-color: rgb(100, 110, 150); margin-left: 30mm; margin-top: 0mm; padding: .5em; width: 15%; border-radius: 50px; border: 5px solid black; text-align: center;">
                        Price: {{product.currency}}{{product.price}}</h4>
                    <b
                        style="text-align: rigth; box-sizing: border-box; background-color: rgb(100, 110, 150); margin-left: 45mm; margin-top: 0mm; padding: .5em; width: 15%; border-radius: 50px; border: 5px solid black; text-align: center;">Spaces:
                        {{product.spaces }}</b> </br></br>


                    <button v-on:click="addTocart(product)"
                        style="float: center; background:#011729; color: white; margin-left: 48mm; margin-top: 0mm; padding: .5em; width: 5%; border-radius:50px; text-align: center;"
                        href="#" class="btn btn-primary" v-if="canAddToCart(product)">Add to Cart</button>



                    <span v-else-if="product.spaces - cartCount(product.id) < 5">
                        only {{<product class="spaces"></product> - cartItemCount(product.id)}} left!
                    </span>
                </div>
            </div>

            <div v-else>
                <h2 style="color: black;"> Checkout Page</h2>
                <div v-for="(product, index) in cart">
                    <figure>
                        <img v-bind:src="product.image"
                            style="float:initial; background: rgb(143, 168, 188); align-items: left; margin-left: 5s0mm; justify-content: center; width: 400px; height: 250px; margin: 2em 0; border: 3px solid black; border-radius: 50px; padding: .5em; display: block; ">

                    </figure>


                    <h2
                        style="text-align: right; box-sizing: border-box; background-color: rgb(100, 110, 150); margin-left: 30mm; margin-top: 0mm; padding: .5em; width: 15%; border-radius: 50px; border: 5px solid black; text-align: center;">
                        Subject: {{product.subject}}</h2>
                    <h3
                        style="text-align: right; box-sizing: border-box; background-color: rgb(100, 110, 150); margin-left: 30mm; margin-top: 0mm; padding: .5em; width: 15%; border-radius: 50px; border: 5px solid black; text-align: center;">
                        Location: {{product.location}}</h3>


                    <h4
                        style="text-align: right; box-sizing: border-box; background-color: rgb(100, 110, 150); margin-left: 30mm; margin-top: 0mm; padding: .5em; width: 15%; border-radius: 50px; border: 5px solid black; text-align: center;">
                        Price: {{product.currency}}{{product.price}}</h4>
                    <b
                        style="text-align: rigth; box-sizing: border-box; background-color: rgb(100, 110, 150); margin-left: 45mm; margin-top: 0mm; padding: .5em; width: 15%; border-radius: 50px; border: 5px solid black; text-align: center;">Spaces:
                        {{product.spaces }}</b> </br></br>


                    <button v-on:click="removeFromcart(product, index)"
                        style="float: center; background:#011729; color: white; margin-left: 48mm; margin-top: 0mm; padding: .5em; width: 5%; border-radius:50px; text-align: center;"
                        href="#" class="btn btn-primary">Remove from cart</button>

                </div>
                <p>
                    <strong>Name:</strong>
                    <input v-model="order.Name" type="text" />
                </p>

                <p>
                    <strong>Mobile Number:</strong>
                    <input v-model.number="order.Mobile" type="number" />
                </p>

                <button v-if ="canCheckout" v-on:click="submitForm">Checkout</button>
            </div>

        </main>
        <aside v-if="showProduct" class style="background-color: rgb(250, 244, 244); color: black; float: right;">
            <h2> Sort By </h2>
            <form>
                <input name="sort" v-model="filter.sort" type="radio" id="subject" value="subject">
                <label for="home">Subject</label> <br>
                <input name="sort" v-model="filter.sort" type="radio" id="location" value="location">
                <label for="home">Location</label><br>
                <input name="sort" v-model="filter.sort" type="radio" id="price" value="price">
                <label for="home">Price</label><br>
                <input name="sort" v-model="filter.sort" type="radio" id="availability" value="spaces">
                <label for="home">Availability</label><br><br><br>
            </form>

            <form>
                <input name="order" v-model="filter.direction" type="radio" id="ASC" value="asc">
                <label for="home">Ascending</label><br>
                <input name="order" v-model="filter.direction" type="radio" id="DESC" value="des">
                <label for="home">Descending</label><br>
            </form>
        </aside>
    </div>

    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                showProduct: true,
                sitename: 'Vue.js Parents Student Activities',
                order: {
                    Name: '',
                    Mobile: '',
                },

                products: productArray,
                cart: [],

                filter: {
                    sort: "none",
                    direction: "none",
                }

            },
            methods: {
                addTocart: function (product) {
                    console.log('testing');
                    this.cart.push(product);
                    product.spaces -= 1
                },
                showCheckout: function () {
                    console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    alert('Your order has been submitted!')
                },
                canAddToCart: function (product) {
                    return product.spaces > 0;
                },
                cartCount(id) {
                    this.cart.length
                },
                removeFromcart: function (item, index){
                    this.cart = this.cart.filter((cartItem, cartIndex) => cartIndex !== index);
                    item.spaces += 1;
                }

            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length || '';
                },

                filteredItems: function () {
                    const sort = this.filter.sort;
                    const order = this.filter.direction;

                    const sortString = function (a, b, property, order) {
                        var nameA = a[property].toUpperCase();
                        var nameB = b[property].toUpperCase();

                        if (nameA < nameB) {
                            return order == "asc" ? -1 : 1;
                        }
                        if (nameA > nameB) {
                            return order == "asc" ? 1 : -1;
                        }

                        return 0;
                    }
                    console.log(sort, order);
                    if (sort == "none" && order == "none") {
                        return this.products;
                    }

                    return this.products.sort(function (lessonA, lessonB) {
                        if (["subject", "location"].includes(sort)) {
                            return sortString(lessonA, lessonB, sort, order);
                        }

                        return order == "des" ? lessonB[sort] - lessonA[sort] : lessonA[sort] - lessonB[sort];
                    });
                },

                canShowCheckout: function () {
                    return this.cart.length > 0;
                },
                canCheckout: function() {
                    return /^\d+$/.test(this.order.Mobile) && /^[a-zA-Z]+$/.test(this.order.Name) && this.cart.length > 0;
                },

            }

        });
    </script>

</body>

</html>